.deck-card {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    background-color: gray; 
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(52, 226, 226);
}
